* {
 box-sizing: border-box;
}

/* Clearfix hack */

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}



h1{
  color:pink;
  text-align: center;
  margin:0;
  /*font-size: 20px;*/
}
body{
  /*background-color: turquoise;*/
  font-family: 'Yatra One',sans-serif;
  background-image: url("..//Images/sea.jpg");
  margin: 0;
  vertical-align: top;
}



header{
  background-color:rgba(89, 92, 104, 0.5);
  width: 100%;
    vertical-align: top;
}

nav li{
  margin: 10px auto;
}

li:hover{
  color: pink;
}

li, h1, p, h3 {
  color: white;
}

li{
  display: inline-block;
  width: 120px;
  font-size: 18px;
  padding: 15px;
}

nav a {
    text-decoration: none;
    line-height: 25px;
}

nav a:hover{
  background-color: purple;
}

.exercise-box, .regular-box{
  font-family: 'Lato',sans-serif;
  text-align: center;
  background-color:rgba(89, 92, 104, 0.7);
  width: 280px;
  margin:20px auto;
  padding: 50px;
  border-radius: 3px;
}

.button{
  font-family: 'Lato',sans-serif;
  text-align: center;
  background-color:#3F3A3A;
  width: 160px;
  margin:10px auto;
  padding: 10px;
  border-radius: 4px;
}

.intro-text{
  text-align: left;
  /*background-color:#2BABD6;*/
  font-family: 'Lato',sans-serif;
  width: 280px;
  margin:20px auto;
  padding: 50px;
  background-color: rgba(186, 180, 180, 0.3);
}

main{
  width: 280px;
  margin: 0 auto;
}

article{
  width: 280px;
  margin: 20px auto;
}

a{
  font-size: 22px;
  font-family: Yatra One;
  text-decoration: none;
  color: white;
}

.firstbutton{
  margin: 60px auto;
}

form{
  width: 280px;
  margin: 40px auto;
}

p{
  font-size: 16px;
  font-family: Yatra One;
  text-decoration: none;
  color: white;
}
